@font-face {
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: 500;
  src: url("expletus-sans-500.dc134910.woff2") format("woff2"), url("expletus-sans-500.b33e0ec7.woff") format("woff"), url("expletus-sans-500.2e9e978e.ttf") format("truetype");
}

@font-face {
  font-family: Expletus Sans;
  font-style: normal;
  font-weight: 700;
  src: url("expletus-sans-700.087c1d42.woff2") format("woff2"), url("expletus-sans-700.1f29d9f1.woff") format("woff"), url("expletus-sans-700.2176c0b2.ttf") format("truetype");
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  src: url("noto-sans-400.46e86d28.woff2") format("woff2"), url("noto-sans-400.811e2785.woff") format("woff"), url("noto-sans-400.0d9265f4.ttf") format("truetype");
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  src: url("noto-sans-500.675a6718.woff2") format("woff2"), url("noto-sans-500.3799b8bc.woff") format("woff"), url("noto-sans-500.36a6d1be.ttf") format("truetype");
}

*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #3f414d;
  background-color: #f1f1f1;
  font-family: Noto Sans, Verdana, sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .overlay {
    display: none;
  }
}

.overlay--hidden {
  display: none;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: Expletus Sans, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.4rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 3.6rem;
    line-height: 1.4;
  }
}

.mwr {
  max-width: 56rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mwr {
    max-width: 58rem;
  }
}

@media (min-width: 1024px) {
  .mwr {
    max-width: 112rem;
  }
}

@keyframes navSlideIn {
  100% {
    opacity: 1;
    top: 0;
  }
}

.header {
  width: 100%;
  height: 70px;
  z-index: 100;
  opacity: 0;
  color: #3f414d;
  background-color: #f1f1f1;
  border-bottom: 1px solid #00000080;
  transition: height .2s;
  animation-name: navSlideIn;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: fixed;
  top: -100px;
  left: 0;
  overflow: hidden;
}

.header--max {
  height: 250px;
}

.navbar {
  height: 100%;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  place-items: center end;
  display: grid;
}

.navbar__btnBox {
  width: 3rem;
  height: 3rem;
  margin-right: 20px;
}

.navbar__btn {
  width: 100%;
  height: 100%;
  color: #3f414d;
  background-color: #0000;
  border: none;
  overflow: hidden;
}

.navbar__btn > svg {
  width: 100%;
  height: 100%;
  transform: scale(1.6);
}

.navbar__links {
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 25px;
  display: flex;
}

.navbar__links > li > a {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.7rem;
  transition: border .2s;
  display: block;
}

.navbar__links > li > a:link, .navbar__links > li > a:visited {
  color: #f1f1f1;
}

@media (min-width: 768px) {
  .header {
    padding: 0 30px;
  }

  .header--max {
    height: 70px;
  }

  .navbar {
    grid-template-rows: 70px;
    grid-template-columns: 1fr;
  }

  .navbar__btnBox {
    display: none;
  }

  .navbar__links {
    width: auto;
    height: auto;
    background-color: #0000;
    flex-direction: row;
    margin-right: 1px;
    padding: 0;
  }

  .navbar__links > li:not(:last-child) {
    margin-right: 30px;
  }

  .navbar__links > li > a {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .navbar__links > li > a:link, .navbar__links > li > a:visited {
    color: #3f414d;
    border-bottom: 1px solid #0000;
    padding-top: 1px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 40px;
  }

  .navbar {
    max-width: 112rem;
    margin: 0 auto;
  }

  .navbar__links > li:not(:last-child) {
    margin-right: 40px;
  }

  .navbar__links > li > a:hover, .navbar__links > li > a:active {
    color: #000;
    border-color: #000;
  }
}

.section {
  position: relative;
  overflow: hidden;
}

.section--home {
  height: 100vh;
}

.section--about, .section--projects {
  padding: 80px 24px;
}

.section--about, .section--contact {
  color: #f1f1f1;
  background-color: #3f414d;
}

.section--contact {
  padding: 80px 24px 50px;
}

@media (min-width: 768px) {
  .section--about, .section--projects {
    padding: 100px 30px;
  }

  .section--contact {
    padding: 100px 30px 60px;
  }
}

@media (min-width: 1024px) {
  .section--about, .section--projects {
    padding: 160px 40px;
  }

  .section--contact {
    padding: 160px 40px 70px;
  }
}

@keyframes arrow {
  50% {
    bottom: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -20px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

.home {
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

.home > h1 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  position: relative;
}

.home > h1 > span {
  padding-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
  display: block;
}

.home > .icon-arrow-down {
  opacity: 0;
  width: 5rem;
  height: 5rem;
  transition: opacity 1s;
  animation-name: arrow;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.home > .icon-arrow-down.icon-arrow-down--visible {
  opacity: 1;
}

@media (min-width: 768px) {
  .home > h1 > span {
    font-size: 2.6rem;
  }

  .home > .icon-arrow-down {
    width: 5.5rem;
    height: 5.5rem;
  }

  .home > .icon-arrow-down:hover, .home > .icon-arrow-down:active {
    color: #000;
    cursor: pointer;
    animation-play-state: paused;
  }
}

@media (min-width: 1024px) {
  .home > h1 > span {
    font-size: 2.8rem;
  }
}

.about {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  gap: 70px 0;
  display: grid;
}

.about__me > h2, .about__skills > h3 {
  color: #3f414d;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.about__me > p {
  margin-top: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about__skills > h3 {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.5;
}

.about__skills > ul {
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-auto-rows: auto;
  gap: 36px;
  margin-top: 37px;
  display: grid;
}

.about__skills > ul > li {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.about__skills > ul > li > svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: #f1f1f1;
  display: block;
}

.about__skills > ul > li > span {
  padding-top: 12px;
  font-size: 1.5rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .about {
    gap: 90px 0;
  }

  .about__me > p {
    margin-top: 26px;
    font-size: 1.6rem;
  }

  .about__skills > h3 {
    font-size: 3.4rem;
  }

  .about__skills > ul {
    margin-top: 40px;
  }

  .about__skills > ul > li > svg {
    height: 3.8rem;
    width: 3.8rem;
  }

  .about__skills > ul > li > span {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .about {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 0 60px;
  }

  .about__me > p {
    margin-top: 32px;
  }

  .about__skills > h3 {
    font-size: 3.6rem;
    line-height: 1.4;
  }
}

.projects > h2 {
  margin-bottom: 30px;
}

.projects__grid {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 70px;
  margin-bottom: .6rem;
  display: grid;
}

@media (min-width: 768px) {
  .projects > h2 {
    margin-bottom: 40px;
  }

  .projects__grid {
    gap: 80px 30px;
  }
}

@media (min-width: 1024px) {
  .projects > h2 {
    margin-bottom: 55px;
  }

  .projects__grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

.project {
  color: #f1f1f1;
  background-color: #3f414d;
  border-radius: 3px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 25px;
  padding: 2px;
  display: grid;
}

.project__img {
  border-radius: 3px;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.project__img > picture > img {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project__copy {
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 15px 15px;
  display: grid;
}

.project__copy > h3 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
}

.project__desc > p, .project__stack > span {
  font-size: 1.5rem;
  line-height: 1.5;
}

.project__desc {
  font-weight: 400;
}

.project__desc > p:not(:first-of-type) {
  margin-top: 10px;
}

.project__desc--audio > p:first-of-type > span {
  padding-left: 20px;
  display: block;
}

.project__stack {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  align-items: start;
  gap: .2rem;
  display: grid;
}

.project__stack > span {
  font-weight: 500;
}

.project__stack > ul {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.project__stack > ul > li {
  text-align: center;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-top: 6px;
  padding: 6px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.project__stack > ul > li:not(:last-of-type) {
  margin-right: 8px;
}

.project__links {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: .5rem;
  display: flex;
}

.project__links > a {
  width: 12rem;
  text-align: center;
  border-radius: 3px;
  justify-content: center;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  transition: color .2s, background-color .2s, border .2s;
  display: flex;
}

.project__links > a:link, .project__links > a:visited {
  color: #3f414d;
  background-color: #f1f1f1;
  border: 2px solid #0000;
}

@media (min-width: 768px) {
  .project__copy > h3 {
    font-size: 2.2rem;
  }

  .project__desc > p, .project__stack > span {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .project__img > picture > img {
    transition: transform .2s;
  }

  .project__img > picture > img:hover {
    transform: translateX(-50%)scale(1.05);
  }

  .project__copy {
    grid-template-rows: auto 1fr auto auto;
  }

  .project__links > a:hover, .project__links > a:active {
    color: #f1f1f1;
    background-color: #3f414d;
    border: 2px solid #f1f1f1;
  }
}

.contact {
  max-width: 56rem;
  margin: 0 auto;
}

.contact > h2 {
  margin-bottom: 30px;
}

.contact__form {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1.8rem;
  padding: 2rem 0 10rem;
  display: grid;
}

.contact__item {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  display: grid;
}

.contact__item > label {
  justify-self: start;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}

.contact__item > input, .contact__item > textarea, .contact__item > span {
  font-family: Noto Sans, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.contact__item > input, .contact__item > textarea {
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
  outline: 0 #0000;
  margin: .6rem 0;
  padding: 6px 8px;
  line-height: 2.3rem;
}

.contact__item > textarea {
  min-height: 12rem;
  resize: vertical;
}

.contact__item > span {
  color: #e3e3e3;
  height: 1.6rem;
  line-height: 1;
}

.contact__submit {
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 20px;
  display: grid;
}

.contact__submit > span {
  min-height: 5rem;
  color: #f1f1f1;
  font-size: 1.6rem;
  line-height: 1.5;
  display: block;
}

.contact__submit > button {
  width: 12rem;
  color: #3f414d;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  padding: 1rem 0;
  font-family: Noto Sans, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  transition: border-color .2s, color .2s, background-color .2s;
}

.contact__submit > button:disabled {
  opacity: .5;
}

.contact__links > a {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.contact__links > a > img {
  width: 100%;
  z-index: 5;
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .contact > h2 {
    margin-bottom: 40px;
  }

  .contact__form {
    gap: 2rem;
    padding-bottom: 11rem;
  }

  .contact__item > label {
    font-size: 1.8rem;
  }

  .contact__item > input, .contact__item > textarea, .contact__item > span {
    font-size: 1.6rem;
  }

  .contact__item > input, .contact__item > textarea {
    margin: .7rem 0;
    padding: 8px 10px;
  }

  .contact__submit > span {
    font-size: 1.8rem;
  }

  .contact__links > a {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1024px) {
  .contact > h2 {
    margin-bottom: 55px;
  }

  .contact__form {
    padding-bottom: 12rem;
  }

  .contact__submit > button:hover {
    cursor: pointer;
    color: #f1f1f1;
    background-color: #3f414d;
    border-color: #f1f1f1;
  }
}

/*# sourceMappingURL=index.8c1c22dc.css.map */
