@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/expletus-sans-500.woff2') format('woff2'),
    url('./fonts/expletus-sans-500.woff') format('woff'),
    url('./fonts/expletus-sans-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/expletus-sans-700.woff2') format('woff2'),
    url('./fonts/expletus-sans-700.woff') format('woff'),
    url('./fonts/expletus-sans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-400.woff2') format('woff2'),
    url('./fonts/noto-sans-400.woff') format('woff'),
    url('./fonts/noto-sans-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/noto-sans-500.woff2') format('woff2'),
    url('./fonts/noto-sans-500.woff') format('woff'),
    url('./fonts/noto-sans-500.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', Verdana, sans-serif;
  box-sizing: border-box;
  color: $color-secondary;
  background-color: $color-primary;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 50;

  @media (min-width: $media-m) {
    display: none;
  }

  &--hidden {
    display: none;
  }
}
