@font-face {
  font-family: 'Expletus Sans';
  src: url('./font/ExpletusSans-VariableFont_wght.ttf') format('truetype');
}
$color-primary: #f1f1f1;
$color-secondary: #3f414d;

$media-m: 768px;
$media-l: 1024px;

$header-height: 70px;
$header-height-m: 100px;

$h1: 3.2rem;
$h1-m: 3.8rem;
$h2: 2.6rem;
$h2-m: 3.4rem;

$width-max: 112rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Expletus Sans', monospace;
  box-sizing: border-box;
  color: $color-secondary;
  background-color: $color-primary;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 50;

  @media (min-width: $media-m) {
    display: none;
  }

  &--hidden {
    display: none;
  }
}
