@keyframes navSlideIn {
  100% {
    top: 0;
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: -$header-height-m;
  left: 0;
  width: 100%;
  height: $header-height;

  overflow: hidden;
  z-index: 100;
  opacity: 0;
  color: $color-secondary;
  background-color: $color-primary;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transition: height 0.2s;

  animation-name: navSlideIn;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &--max {
    height: calc($header-height + 180px);
  }
}

.navbar {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height 1fr;
  justify-items: end;
  align-items: center;

  &__btnBox {
    width: 3rem;
    height: 3rem;
    margin-right: 20px;
  }

  &__btn {
    width: 100%;
    height: 100%;
    border: none;
    color: $color-secondary;
    background-color: transparent;
    overflow: hidden;

    > svg {
      width: 100%;
      height: 100%;
      transform: scale(1.6);
    }
  }

  &__links {
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0f0f0f;

    > li {
      > a {
        font-size: 2rem;
        line-height: 2.7rem;
        display: block;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: border 0.2s;

        &:link,
        &:visited {
          color: $color-primary;
        }
      }
    }
  }
}

@media (min-width: $media-m) {
  .header {
    &--max {
      height: $header-height;
    }
  }

  .navbar {
    margin: 0 auto;
    width: calc(100% - 80px);
    grid-template-columns: 1px 1fr;
    grid-template-rows: $header-height;

    &__btn {
      display: none;
    }

    &__links {
      margin-right: 1px;
      padding: 0;
      width: auto;
      height: auto;
      flex-direction: row;
      background-color: transparent;

      > li {
        &:not(:last-child) {
          margin-right: 30px;
        }

        > a {
          font-size: 1.8rem;

          &:link,
          &:visited {
            padding-top: 1px;
            color: $color-secondary;
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
}

@media (min-width: $media-l) {
  .navbar {
    width: 84%;

    &__links {
      > li {
        &:not(:last-child) {
          margin-right: 40px;
        }

        > a {
          &:hover,
          &:active {
            color: #000;
            border-color: #000;
          }
        }
      }
    }
  }
}
