.section {
  position: relative;
  overflow: hidden;

  &--home {
    height: 100vh;
  }

  &--about,
  &--projects {
    padding: 80px 24px;
  }

  &--about,
  &--contact {
    color: $color-light;
    background-color: $color-dark-shade;
  }

  &--contact {
    padding: 80px 24px 50px 24px;
  }
}

@media (min-width: $media-m) {
  .section {
    &--about,
    &--projects {
      padding: 100px 30px;
    }

    &--contact {
      padding: 100px 30px 60px 30px;
    }
  }
}

@media (min-width: $media-l) {
  .section {
    &--about,
    &--projects {
      padding: 160px 40px;
    }

    &--contact {
      padding: 160px 40px 70px 40px;
    }
  }
}
