h1 {
  font-size: $h1;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: $h2;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: $media-m) {
  h1 {
    font-size: $h1-m;
  }

  h2 {
    font-size: $h2-m;
  }
}
