$color-primary: #f1f1f1;
$color-secondary: #3f414d;

$media-m: 768px;
$media-l: 1024px;

$header-height: 70px;
$header-height-m: 100px;

$h2: 2.6rem;
$h2-m: 3.4rem;
$h2-l: 3.6rem;

$max-width: 56rem;
$max-width-m: 58rem;
$max-width-l: 112rem;
